[submodule "libpng"]
	path = libpng
	url = https://github.com/shedbuilt/libpng.git
    branch = .
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/shedbuilt/libjpeg-turbo.git
    branch = .
[submodule "freetype2"]
	path = freetype2
	url = https://github.com/shedbuilt/freetype2.git
    branch = .
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/shedbuilt/harfbuzz.git
    branch = .
[submodule "fontconfig"]
	path = fontconfig
	url = https://github.com/shedbuilt/fontconfig.git
	branch = .
[submodule "font_dejavu-ttf"]
	path = font_dejavu-ttf
	url = https://github.com/shedbuilt/font_dejavu-ttf.git
	branch = .
[submodule "pixman"]
	path = pixman
	url = https://github.com/shedbuilt/pixman.git
	branch = .
[submodule "mesa"]
	path = mesa
	url = https://github.com/shedbuilt/mesa.git
	branch = .
[submodule "cairo"]
	path = cairo
	url = https://github.com/shedbuilt/cairo.git
	branch = .
